/*	GERAL
********************/
html, body {
	margin: 0;
	min-width: 320px;
	height: calc(100% - 17.5px);
	background-color: var(--backColor);
	color: var(--textColor)
}

* {
	font-family: Arial, Helvetica, sans-serif;
	outline: none
}

img, ins, .navSection h1 {
	user-select: none;
	-moz-user-select: none
}

button {
	border: 1px solid var(--borderColor);
  color: var(--buttonTextColor);
	position: relative;
  user-select: none;
  line-height: 22px;
	-moz-user-select: none;
	background-color: var(--secondaryColor);
	font-weight: 500
}
button:active { background-color: var(--thidColor) }

select:disabled {
	cursor: not-allowed;
	color: darkgray
}

select {
	margin-top: 5px;
	width: 205px;
	padding: 9px 0;
	margin-bottom: 2px;
	background-color: var(--secondaryColor);
	text-align-last: center;
	color: var(--buttonTextColor);
	display: block;
	font-size: 20px;
	position: relative;
	font-weight: 900
}

select, .navSection svg, .cardsContainer, .cardsContainerS, .configContainer, .infoContainer, .selectSection img:not(#configCards):not(.upArrow), .configContainerS, .btnApagar,
.btnCenter, .effect:after, .upArrow, .configSection div, .config button, .idCenter, .information, .aboutSection h2, .logo {
	left: 50%;
	transform: translateX(-50%)
}

ins {
	font-size: 20px;
	font-weight: bolder
}

::-webkit-scrollbar {	width: 4px }
::-webkit-scrollbar-thumb {	background-color: var(--secondaryColor) }
::-webkit-scrollbar-track {	background-color: var(--buttonTextColor) }

.chest-ring, .player-ring, .best-ring { display: none }
.lds-ring, .chest-ring, .player-ring, .best-ring {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 64px;
  height: 64px;
	position: absolute
}

.lds-ring div { border: 6px solid var(--textColor) }
.chest-ring div, .player-ring div, .best-ring div { border: 3px solid var(--textColor) }
.lds-ring div, .chest-ring div, .player-ring div, .best-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--textColor) transparent transparent transparent
}
.lds-ring div:nth-child(1), .chest-ring div:nth-child(1), .player-ring div:nth-child(1), .best-ring div:nth-child(1) { animation-delay: -0.45s }
.lds-ring div:nth-child(2), .chest-ring div:nth-child(2), .player-ring div:nth-child(2), .best-ring div:nth-child(2) { animation-delay: -0.3s }
.lds-ring div:nth-child(3), .chest-ring div:nth-child(3), .player-ring div:nth-child(3), .best-ring div:nth-child(3) { animation-delay: -0.15s }

@keyframes lds-ring {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

/* NAVIGATION
********************/
.navSection {
	background-color: var(--primaryColor);
	color: var(--buttonTextColor);
	z-index: 1;
	display: none;
	overflow-x: hidden;
	position: fixed
}

.navSection svg {
	width: 24px;
	height: 24px;
	top: 2px;
	position: absolute
}

.navSection .effect { color: var(--buttonTextColor) }
.navSection .effect:after { background-color: var(--buttonTextColor) }
.navSection h1 { display: none }

.navSection button {
	min-width: 175px;
	width: 100%;
	margin-bottom: 1px;
	font-size: 17px;
	padding: 25px 0 3px 0
}

#selectedButton {
	background-color: var(--backColor);
	color: var(--textColor)
}

.container {
	display: block !important;
	width: 40px;
	height: 35px;
	position: relative
}

.container div {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative
}

.container div:after, .container div:before, .container div {
	background-color: var(--buttonTextColor);
	width: 100%;
	height: 4px
}

.container div:after, .container div:before {
	content: '';
	position: absolute
}
.container div:after { top: -10px }

.container div:before { bottom: -10px }

/* BUILDER SECTION
********************/
.builderSection, .playerSection, .selectSection, .savedSection, .bestSection, .chestSection, .configSection, .aboutSection {
	display: none;
	position: relative;
	top: 35px;
	width: 100%;
	min-height: 100%
}

.configContainer, .configContainer *, .infoContainer { transition: all .5s, background-color 0s }
.cardsContainer { transition: height .15s }

.builderSection { overflow-x: hidden }

.builderSection > section {
	width: 100%;
	min-height: 100%
}

.cardsContainer, .cardsContainerS, .configContainer, .infoContainer {
	position: relative;
	max-width: 600px
}

/* CARDS CONTAINER
********************/
.cardsContainer, .cardsContainerS {
	height: 210px;
	margin-bottom: 5px
}

.cardsContainer div, .cardsContainerS div {
	width: 25%;
	height: 50%;
	float: left;
	overflow: hidden
}

.cardsContainer img, .cardsContainerS img {
	width: 100%;
	height: 100%
}

/* CONFIG CONTAINER
********************/
.btnCopiar, .btnSalvar, .btnColar, .btnVoltar, .btnGerar { margin-top: 5px }

.btnCopiar, .btnSalvar, .btnColar {
	left: 5px;
	height: 40px;
	font-size: 16px;
	width: 121px
}

.btnColar {	top: 43px }
.btnSalvar { top: 86px }

.btnCopiar, .btnColar, .btnSalvar, .btnVoltar, .btnGerar, .configContainer img, .configContainer div { position: absolute }

.btnVoltar {
	right: 132px;
	font-size: 15px;
	padding: 0;
	width: 30px
}

.btnVoltar, .btnGerar {	height: 60px }
.btnVoltar {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px
}

.btnGerar {
	right: 5px;
	width: 128px;
	font-size: 19px;
	font-weight: 600
}

.configContainer {
	height: 136px;
	border: 1px solid var(--borderColor)
}

.configContainer img {
	right: 4px;
	top: 65px
}

.configContainer div {
	top: 112px;
	left: 98%;
	transform: translateX(-99%);
	white-space: nowrap
}

.configContainer input, .configContainer label { user-select: none }

.configContainer label {
	font-size: 19px;
	font-weight: bold
}

.configContainer button ins { font-size: 18px }

/* INFO CONTAINER
********************/
.infoContainer { min-height: 0 }

.infoContainer h1 { font-size: 30px }

.infoContainer h1, .infoContainer h3, .infoContainer h2 {
	text-align: center;
	margin: 0
}

.infoContainer h2 {
	font-size: 18px;
	margin: 0
}

/* CARD SELECTOR
********************/
.selectSection { text-align: center }
.cardsToChange {
	text-align: center;
	background-color: red;
	width: 100%;
	min-height: 0
}

.cardContainer {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 180px;
	margin-top: 5px
}

.selectSection img:not(#configCards):not(.upArrow) {
	position: absolute;
	width: 100%;
	height: 100%
}

.selectSection div {
	width: 100%;
	height: 55px
}

.selectSection div button {
	margin-top: 5px;
	width: 50%;
	float: left;
	font-size: 17px;
	height: 50px
}

#configCards {
	width: 35px;
	height: 35px;
	top: -34px;
	right: 5px;
	position: absolute
}

.notAllowed {
	filter: grayscale(1);
	transition: filter .25s
}

.selectSection input {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	background-color: var(--backColor);
	color: var(--buttonTextColor);
	font-size: 20px;
	width: 99%;
	padding: 10px 0
}

.upArrow {
	display: block;
	position: relative;
	width: 40px;
	height: 40px
}

/* SAVED CARDS
********************/
.cardsContainerS { margin-top: 10px }
.configContainerS {
	min-height: 50px;
	max-width: 600px;
	margin-top: 10px;
	border: 1px solid var(--borderColor);
	position: relative
}

.btnApagar, .btnColarS, .btnCopiarS {
	height: 100%;
	width: 100px;
  font-size: 14px;
	position: absolute
}

.btnColarS {
	left: 100%;
	transform: translateX(-100%)
}

.noneDeck, .elixir {
	margin: 0;
	text-align: center
}

.elixir {	margin-top: 10px }

.btnRemoveAll {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	font-size: 20px
}

/* BEST DECKS
********************/
.btnCenter {
	position: relative;
	padding: 10px 20px;
	font-size: 18px;
	margin-top: 5px
}

/* THEME SECTION
********************/
.configSection section {
	position: relative;
	width: 100%;
	height: 20px
}

.configSection div { position: absolute }

.configSection label {
	font-variant: small-caps;
	font-size: 20px
}

/* CONFIG
********************/
.containerConfig {
	background: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2
}

.config {
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	width: 320px;
	min-height: 0;
	background-color: var(--backColor)
}

.config h1 {
	margin: 0;
	font-size: 39px;
	font-weight: 500;
	text-align: center
}

.config label { font-size: 21px }

.config section {
	position: relative;
	margin-top: 5px;
	width: 100%;
	border-top: 1px solid var(--primaryColor);
	border-bottom: 1px solid var(--primaryColor);
	height: 23px
}

.config div {
	position: absolute;
	white-space: nowrap
}

.config button {
	font-size: 20px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px
}

/* CHEST SECTION, PLAYER SECTION
********************/
.player-ring, .chest-ring, .best-ring {
	width: 36px;
	height: 36px
}
.idContainer, .chestContainer, .playerContainer {
	width: 100%;
	position: relative
}
.idContainer { height: 35px }

.chestContainer {
	text-align: center;
	margin-top: 10px
}

.idCenter {
	position: absolute;
	white-space: nowrap
}

.idCenter p {
	display: inline-block;
	margin: 0;
	margin-right: 5px
}

.chestInfo p {
	margin: 0;
	font-size: 20px
}

.chestInfo {
	display: inline-block;
	width: 180px;
	height: 210px
}

.chestSection input, .playerSection input {
	margin-top: 2px;
	font-size: 22px;
	background-color: var(--backColor);
	color: var(--buttonTextColor);
	text-align: center
}

.idContainer button { top: -2px }

.information {
	position: relative;
	text-align: center;
	max-width: 602px;
	min-height: 0
}

.information{ margin-top: 5px }

.information table {
	margin-left: -5px;
	display: inline-block;
	text-align: center;
	word-break: break-all
}

.information th, .information td {
	border: 1px solid var(--borderColor);
	padding: 10px
}

/* ABOUT
********************/
.aboutSection h1 {
	margin: 0;
	font-weight: 900;
	font-size: 30px;
	text-align: center
}
.aboutSection h1:nth-last-of-type(1) { margin: 20px 0 0 0 }

.aboutSection h3 { margin: 0 }

.aboutSection h2 {
	position: relative;
	display: inline-block;
	font-weight: 400;
	margin: -10px 0 20px 0
}

.aboutSection h4, .aboutSection p {
	margin: 0;
	text-align: center
}

.aboutSection p { font-size: 17px }

.aboutSection address {	display: inline }

.logo {
	position: relative;
	display: block
}
.aboutSection a, .navSection a {
	text-decoration: none;
	color: var(--textColor)
}

.effect { position: relative }
.effect:after {
	transition: width .3s;
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	background-color: var(--textColor)
}

/* RESPONSIVIDADE
********************/
@media (min-width: 360px) {	.cardsContainer, .cardsContainerS {	height: 240px	} }
@media (min-width: 380px) {	.cardsContainer, .cardsContainerS {	height: 250px	} }
@media (min-width: 400px) {	.cardsContainer, .cardsContainerS {	height: 260px	} }
@media (min-width: 420px) {	.cardsContainer, .cardsContainerS {	height: 270px	} }
@media (min-width: 440px) {	.cardsContainer, .cardsContainerS {	height: 280px	} }
@media (min-width: 480px) {	.cardsContainer, .cardsContainerS {	height: 290px	} }
@media (min-width: 500px) {	.cardsContainer, .cardsContainerS {	height: 300px	} }
@media (min-width: 530px) {	.cardsContainer, .cardsContainerS {	height: 310px	} }
@media (min-width: 540px) {	.cardsContainer, .cardsContainerS {	height: 320px	} }
@media (min-width: 550px) {	.cardsContainer, .cardsContainerS {	height: 330px } }
@media (min-width: 580px) {	.cardsContainer, .cardsContainerS {	height: 340px	} }
@media (min-width: 590px) {	.cardsContainer, .cardsContainerS {	height: 350px	} }
@media (min-width: 600px) {	.cardsContainer, .cardsContainerS {	height: 360px	} }

@media (min-width: 768px) {
	.selectSection input { width: 320px }
	.container { display: none !important }
	html, body { height: 100% }
	.selectSection div button:nth-last-of-type(2) { margin-left: 10px }
	.selectSection div button {
		display: inline-block;
		margin-left: 5px;
		width: 240px
	}
	
	.config { width: 350px }
	.config label { font-size: 24px }
	.config section { height: 26px }

	#configCards { top: 2px	}

	.navSection h1 {
		display: block;
		font-size: 15px;
		margin: 0;
		margin-bottom: 2px;
		text-align: center
	}

	.aboutSection h3 { text-align: center }

	.infoContainer h3 {	width: 100%	}

	.configContainer { height: 97px }
	.configContainer img, .btnGerar, .btnVoltar {
		top: 50%;
		transform: translateY(-50%)
	}

	.configContainer img {
		left: 145px;
		top: 70px
	}

	.btnGerar, .btnVoltar {	margin-top: 0 }

	.configContainer div {
		top: 60px;
		left: 5px;
		transform: translate(0, 0)
	}

	.btnApagar, .btnColarS, .btnCopiarS {
		font-size: 20px;
		width: 140px
	}

	.btnSalvar { left: 255px }
	.btnColar { left: 130px }
	.btnSalvar, .btnColar { top: 0 }

	.navSection div { display: none }

	.navSection button {
		border-right: none;
		font-size: 19px
	}

	.builderSection, .playerSection, .selectSection, .savedSection, .chestSection, .bestSection, .configSection, .aboutSection {
		top: 0;
		left: 176px;
		width: calc(100% - 176px)
	}

	.btnRemoveAll {
		width: calc(100% - 10px);
		left: 5px
	}
}

@media (min-width: 1024px) {
	select {
		padding: 0;
		height: 41px;
	}
	
	.config { width: 340px }
	ins { cursor: default }
	.btnGerar ins, .btnSalvar ins { cursor: pointer }

	button:hover { background-color: var(--thidColor) }
	button:active { background-color: var(--secondaryColor) }

	#configCards { cursor: pointer }

	img:not(.notPointer), button, select, input[type=checkbox], input[type=radio], label {	cursor: pointer	}
	label { user-select: none }

	.aboutSection h1 { cursor: default }

	.builderSection > section {
		position: relative;
		width: 850px
	}

	.builderSection > section, .dropdowns, .infoText, .effect:after {
		left: 50%;
		transform: translateX(-50%)
	}

	.cardsContainer img:hover, .cardsContainerS img:hover {
		width: 104%;
		height: 104%;
		transform: translate(-2%, -2%)
	}

	.cardsContainer img:active, .cardsContainerS img:active {
		width: 100%;
		height: 100%;
		transform: translate(0, 0)
	}

	.cardsContainer, .configContainer {
		left: calc(100% - 605px);
		transform: translateX(0)
	}

	.infoContainer {
		position: absolute;
		width: 250px;
		top: 0;
		left: calc(100% - 850px);
		transform: translateX(0)
	}

	.dropdowns, .infoText {
		position: absolute;
		width: 100%
	}
	.dropdowns { top: 5px }
	.infoText {	top: 147px }

	.btnVoltar { width: 23px }

	.infoContainer h2 { font-size: 17px }

	.aboutSection a, .navSection a { text-decoration: none }

	.effect:after { width: 0 }

	.effect:hover.effect:after { width: 100% }
	::-webkit-scrollbar-thumb:hover { background-color: var(--thidColor) }
}